/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index {
  margin: 40px auto;
  border-radius: 4px;
  background: #222;
  display: block;
  text-align: center;
  alignment: center;
  vertical-align: middle;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 15px 15px 15px;
  text-align: center;
  border: 3px dotted #000;
  border-width: 3px 3px;
  background: #666;
}

